<div class="float-whatsapp" title="Whatsapp">
    <i class="fa fa-whatsapp"></i>
</div>

<script>
    //floating whatsapp button
    const floatWhatsapp=document.querySelector(".float-whatsapp");
    floatWhatsapp.addEventListener('click',()=>{
        window.location.href='https://wa.me/+254734720752'
    })
</script>