<footer>
    <div class="footer-info">
        <div class="footer-links">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/">For you</li>
                    <li><a href="/login">Login</li>
                    <li><a href="/register">Sign up</li>
                </ul>
            </div>
        </div>
        <div class="footer-links">
            <div class="quick-links">
                <h2>Social Links</h2>
                <ul>
                    <li><a href="https://instagram.com/imrany00"  target="_blank" rel="noreferrer" title="Instagram">Instagram</a></li>
                    <li><a href="https://ke.linkedin.com/in/imranyy" target="_blank" rel="noreferrer"  title="LinkedIn">LinkedIn</li>
                    <li><a href="https://wa.me/+254734720752" target="_blank" rel="noreferrer"  title="Whatsapp">Whatsapp</li>
                    <li><a href="mailto:imranmat254@gmail.com" target="_blank" rel="noreferrer"  title="Email">Email</li>
                </ul>
            </div>
        </div>
        <div class="footer-links">
            <div class="quick-links">
                <h2>Support line</h2>
                <ul>
                    <li><a href="tel:0734720752" target="_blank" title="Call" rel="noreferrer">Get Help</a></li>
                    <li><a href="tel:0734720752" target="_blank" title="Call" rel="noreferrer">Our sources</a></li>
                    <li><a href="tel:0734720752" target="_blank" title="Message" rel="noreferrer">0734720752</li>
                </ul>
            </div>
        </div>
        
       
    </div>
    <div class="social-media-links">
        <ul>
            <li><a href="https://instagram.com/imrany00" title="Instagram" style="color: rgb(207, 67, 90);" target="_blank" rel="noreferrer"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://ke.linkedin.com/in/imranyy" title="LinkedIn" style="color: rgb(120, 120, 235);" target="_blank" rel="noreferrer"><i class="fa fa-linkedIn"></i></a></li>
            <li><a href="https://wa.me/+254734720752" title="Whatsapp" target="_blank" style="color: green;" rel="noreferrer"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="mailto:imranmat254@gmail.com" title="Email" style="color: rgb(238, 111, 111);" target="_blank"  rel="noreferrer"><i class="fa fa-envelope"></i></a></li>
            <li><a href="tel:0734720752" target="_blank" title="Phone" rel="noreferrer"><i class="fa fa-phone"></i></a></li>
            <li><a href="https://twitter.com/DscRongo" title="Twitter" style="color: blue;" target="_blank" rel="noreferrer"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <p>&COPY; Campus Blog 2023</p>
</footer>