
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div id="about"></div>
        <div class="detail start">
           
        </div>
        <%- include('./partials/float.ejs')%>
        <%- include('./partials/footer.ejs')%>
    
        <!-- script -->
        <script>
            
        </script>
    </body>
    </html>