<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class='preload'></div>
    <div class="login start">
        <div class="notify"></div>
        <form style="border: none;">
            <header style="margin: 0 0 40px 0;">
                <h1>Update you password.</h1>
            </header>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" id="email" placeholder="Enter email used on your account" required/>
            <label for="password"><b>Enter your new password</b></label>
            <input type="password" minlength="8" name="password" id="password" required/>
            <button><b>Submit</b></button>
            <p>Please, note the details you've provided.</p>
        </form>
        
        <p style="color: var(--body-text); font-size: small;">By continuing, you agree with our Terms of Service and Privacy Policy.</p>
    </div>
    <!-- script -->
    <script>
         //preloader
        const preloader=()=>{
            const loader=document.querySelector('.preload');
            loader.style.display='block';
        }
        const preloaderOff=()=>{
            const loader=document.querySelector('.preload');
            loader.style.display='none';
        }
        //redirect if stays for long (1min)
        setTimeout(()=>{
            const confirm=window.confirm("Redirecting to Homepage")
            if (confirm) {
                window.location.href='/'
            } 
        },300000)
        
        
        //form submit
        const notify=document.querySelector('.notify')
        const form=document.querySelector('form');
        form.addEventListener('submit',async(e)=>{
            e.preventDefault()
            try {
                preloader()
                const password=form.password.value;
                const email=form.email.value;
                if(password.length>=8){
                    const url=`/api/changePassword/${email}`;
                    const response=await fetch(url,{
                        method:"PATCH",
                        headers:{
                            "content-type":'application/json'
                        },
                        body:JSON.stringify({
                            password,
                        })
                    })
                    const parseRes=await response.json()
                    if(parseRes.error){
                        notify.innerHTML=`
                        <div class='tag'>
                            <p class="error">${parseRes.error}</p>    
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },3000)
                    }else{
                        notify.innerHTML=`
                        <div class='tag-success'>
                            <p class="error">${parseRes.msg}</p>    
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                            window.location.href=parseRes.link
                        },3000)
                    }
                }else{
                    notify.innerHTML=`
                    <div class='tag'>
                        <p class="error">Enter 8 digit password!</p>    
                    </div>
                    `
                    setTimeout(()=>{
                        notify.innerHTML=''
                    },3000)
                }
                form.reset()
                preloaderOff()
            } catch (error) {
                notify.innerHTML=`
                <div class='tag'>
                    <p class="error">No internet!</p>    
                </div>
                        `
                setTimeout(()=>{
                    notify.innerHTML=''
                },3000)
                preloaderOff()
                form.reset()
            }
        })
            // redirect
            if(localStorage.getItem('token')||localStorage.getItem('admin-token')||localStorage.getItem('blogger-token')){
                window.location.href='/'
            }
    </script>
</body>
</html>