<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="create start">
        <div class="preload"></div>
        <div class="notify"></div>
        <form style="border: none;">
            <header style="margin: 0 0 10px 0;">
                <h1>Create a blog</h1>
            </header>
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Blog title here" maxlength="300" name="title" id="title" required/>
            <label for="category"><b>Blog category</b></label>
            <select name="category" id="category" required>
                <option value="Select blog category" >Select blog category</option>
                <option value="polities">Politics</option>
                <option value="news">News</option>
                <option value="technology">Technology</option>
                <option value="entertainment">Entertainment</option>
                <option value="fashion">Fashion</option>
                <option value="general">General</option>
            </select>
            <label for="blog-image"><b>Blog Image</b></label>
            <input type="file" class="file" accept="image/*" name="blogImage" id="blog-image" title="Only images are allowed" required/>
            <label for="body"><b>Body</b></label>
            <textarea placeholder="Write blog's content here (html)" name="body" id="body" multiple minlength="100" required></textarea>
            <button disabled="true"><b>Publish</b></button>
    </div>
    <!-- script -->
    <script type="module">
        import{projectStorage,ref,getDownloadURL,uploadBytesResumable} from '/js/FirebaseConfig.js'

        //redict
        if(!localStorage.getItem('admin-token')){
            if(!localStorage.getItem('blogger-token')){
                window.location.href='/';
            }
        }

        //finds the date
         const add=(a)=>{
            return a+1
         }
         const d=new Date()
         const today=d.getDate()
         const month=d.getMonth()
         const year=d.getFullYear()
         const date=`${today}/${add(month)}/${year}`
         
         //preloader
         const preloader=()=>{
            const loader=document.querySelector('.preload');
            loader.style.display='block';
        }
        const preloaderOff=()=>{
            const loader=document.querySelector('.preload');
            loader.style.display='none';
        }
        
                //upload image
                const types=['image/png', 'image/jpeg']
                const photo=document.querySelector('.file');
                photo.addEventListener('change',(e)=>{
                    let photoName=e.target.files[0]
                    let validFile= photoName.name;
                    if(photoName && types.includes(photoName.type)){
                        //uploading image to storage
                        const storageRef=ref(projectStorage,photoName.name);
                        const uploadTask = uploadBytesResumable(storageRef, photoName);
                        uploadTask.on('state_changed',
                        async()=>{
                            const url=await getDownloadURL(storageRef)
                            const photoRes=await url
                            localStorage.setItem('photo-url',url)
                            notify.innerHTML=`
                            <div class='tag-success'>
                                <p class="error">Image Load 100%</p>
                            </div>
                            `
                            setTimeout(()=>{
                                notify.innerHTML=''
                            },1000)
                        })
                        const publishBtn=document.querySelector('button')
                        publishBtn.disabled=false
                    }else{
                        notify.innerHTML=`
                        <div class='tag'>
                            <p class="error">Please select an image file(png or jpeg)</p>
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },5000)
                    }
                })
        //notify
        const notify=document.querySelector('.notify')
        //post handler
        const postHandler=document.querySelector('form');
        function handleSubmit(category){
            if(category==='Select blog category'){
                notify.innerHTML=`
                    <div class="tag">
                        <p class="error">Please select the blog category!</p>
                    </div>
                    `
                    setTimeout(()=>{
                        notify.innerHTML=''
                    },3000)
                    postHandler.reset()
            }else if(category){
                postHandler.addEventListener('submit',async(e)=>{
                    e.preventDefault()
                    const title=postHandler.title.value;
                    const body=postHandler.body.value;
                    try {
                        preloader()
                            const url=`/api/blog`;
                            const response=await fetch(url,{
                                method:"POST",
                                headers:{
                                    "content-type":"application/json",
                                    "authorization":`Bearer ${localStorage.getItem('admin-token')}`
                                },
                                body:JSON.stringify({
                                    title,
                                    image:localStorage.getItem('photo-url'),
                                    body,
                                    category,
                                    author:`${localStorage.getItem('first-name')} ${localStorage.getItem('last-name')}`,
                                    authorImage:'/assests/avatar.svg',
                                    date,
                                })
                            })
                            localStorage.removeItem('photo-url')
                            const parseRes=await response.json()
                            if(parseRes.error){
                                notify.innerHTML=`
                                <div class='tag'>
                                    <p class='error'>${parseRes.error}</p>
                                </div>
                                `
                                setTimeout(()=>{
                                    notify.innerHTML=''
                                },3000)
                            }else{
                                window.location.href=parseRes.link
                                postHandler.reset()
                            }
                            preloaderOff()
                        } catch (error) {
                            preloaderOff()
                            notify.innerHTML=`
                            <div class='tag'>
                                <p class='error'>No internet!</p>
                                </div>
                                `
                                setTimeout(()=>{
                                    notify.innerHTML=''
                                },3000)
                            }
                        
                })
            }
        }
        //select blog catergory
        const categorySelection=document.querySelector('select')
        categorySelection.addEventListener('change',()=>{
            const selectedOption=categorySelection.value;
            handleSubmit(selectedOption)
        })
      
    </script>
</body>
</html>