<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="create start">
        <div class="notify"></div>
        <form style="border: none;">
            <header style="margin: 0 0 40px 0;">
                <h1>Create a blog</h1>
            </header>
            <label for="title"><b>Title</b></label>
            <input type="type" placeholder="Climate Change" name="title" id="title" required/>
            <label for="title"><b>Blog Image</b></label>
            <input type="type" placeholder="Climate Change" name="title" id="title" required/>
            <label for="title"><b>Body</b></label>
            <input type="type" placeholder="Climate Change" name="title" id="title" required/>
            <label for="title"><b>Author</b></label>
            <input type="type" placeholder="Climate Change" name="title" id="title" required/>
            <label for="title"><b>author image</b></label>
            <input type="type" placeholder="Climate Change" name="title" id="title" required/>
            <label for="title"><b>date</b></label>
            <input type="type" placeholder="Climate Change" name="title" id="title" required/>
            <button><b>Submit</b></button>
    </div>
    <!-- script -->
    <script>
        const owner=`${localStorage.getItem('first-name')} ${localStorage.getItem('last-name')}`
        if(!localStorage.getItem('token')){
            window.location.href='/';
        }
        switch(owner){
            case 'imran matano':
                // window.location.href='/';
                break;
            case 'Imran matano':
                // window.location.href='/'
                break;
            case 'Imran Matano':
                // window.location.href='/'
                break;
            default:
                window.location.href='/'
        }
    </script>
</body>
</html>