<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class='preload'></div>
        <div class="login start">
        <div class="notify"></div>
        <form>
            <header style="margin: 0 0 40px 0;">
                <h1>Welcome to campus blogs!</h1>
                <h1>Let's get started.</h1>
            </header>
            <label for="email"><b>Work email</b></label>
            <input type="email" name="email" title="Enter that email that will receive the verification code" maxlength="40" placeholder="kevin@gmail.com" id="email" required/>
            <button><b>Submit</b></button>
            <p>We'll send you a verification code which you will enter in the next step.</p>
        </form>
        <div class="other-provider">
            <p style="text-align: center;">Or sign up with another provider:</p>
            <div class="provider-btns">
                <button><i class="fa fa-google"></i> Google</button>
                <button><i class="fa fa-apple"></i> Apple</button>
            </div>
        </div>
        <p style="color: var(--body-text); font-size: small;">By continuing, you agree with our Terms of Service and Privacy Policy.</p>
    </div>
    <!-- script -->
    <script>
        //preloader
        const preloader=()=>{
            const loader=document.querySelector('.preload');
            loader.style.display='block';
        }
        const preloaderOff=()=>{
            const loader=document.querySelector('.preload');
            loader.style.display='none';
        }
        //calculating date to form code using month,date,time
        let today=new Date();
         let hour=addZero(today.getHours());
         let min=addZero(today.getMinutes());
         let sec=addZero(today.getSeconds());
         function addZero(num){
            return num <10?`0${num}`:num;
         }

         const code=`${sec}${hour}${min}`;
        //form submit
        const notify=document.querySelector('.notify')
        const form=document.querySelector('form');
        form.addEventListener('submit',async(e)=>{
            e.preventDefault()
            try {
                preloader()
                const email=form.email.value;
                if (email) {
                    const url=`/api/verify`;
                    const response=await fetch(url,{
                        method:"POST",
                        headers:{
                            "content-type":'application/json'
                        },
                        body:JSON.stringify({
                            email,
                            code
                        })
                    })
                    const parseRes=await response.json();
                    if(parseRes.error){
                        notify.innerHTML=`
                        <div class="tag">
                            <p class="error">${parseRes.error}</p>
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },3000)
                    }else{
                        localStorage.setItem("email",parseRes.email)
                        localStorage.setItem('code',parseRes.code)
                        window.location.href=parseRes.link
                    }
                    preloaderOff()
                } else {
                    notify.innerHTML=`
                        <div class="tag" >
                            <p class="error">Enter the required field!</p>
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },3000)
                }
                form.reset()
            } catch (error) {
                preloaderOff()
                notify.innerHTML=`
                        <div class="tag" >
                            <p class="error">No internet!</p>
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },3000)
                form.reset()
            }
        })
            // redirect
            if(localStorage.getItem('token')||localStorage.getItem('admin-token')||localStorage.getItem('blogger-token')){
                window.location.href='/'
            }
    </script>
</body>
</html>