@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --black:black;
    --white-grey:#f2f2f2;
    --body-text:#676e8b;
    --red:red;
    --orange:orange;
    --white:white;
    --grey:grey;
    --green:green;
}
body{
    font-family: 'Roboto Condensed', monospace;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
nav{
    background: var(--white);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 12%);
    z-index: 100;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.nav-top{
    display:flex;
    justify-content: space-between;
}
.nav-top input{
    padding: 12px;
    border: solid #676e8b 1px;
    border-radius: 8px;
    width: 300px;
}
.closed{
    display: none;
}
.opened{
    display:block;
}
.menu-btn{
    font-size: 25px;
    display: none;
}
.menu-bg{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.menu-list{
    background: var(--grey);
    position: fixed;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
    z-index: 200;
}
.menu-list ul{
    padding: 80px 50px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
}
.menu-list a:hover{
    color: var(--body-text);
    border-bottom: 2px solid var(--body-text);
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    padding: 0 10px;
}
.nav-links a:hover{
    color: var(--body-text);
    border-bottom: 2px solid var(--body-text);
}
.start{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index header{
    min-width: 130vh;
}
.index .sub-title{
    padding: 10px 0;
}
.notify{
    position: fixed;
    top: 20vh;
}
.tag{
    background: var(--red);
    padding:10px 20px;
    border-radius: 20px;
    z-index: 110;
    cursor: pointer;
}
.tag-success{
    background: rgb(0, 128, 96);
    padding:10px 20px;
    border-radius: 20px;
    z-index: 110;
    cursor: pointer;
}
.error{
    color: var(--white);
}
.blog-tag{
    background: none;
    color: var(--black);
}
.blog-item{
    display: flex;
    margin: 15px 0;
    width: 850px;
    line-height: 25px;
    border-bottom: solid 1px var(--grey);
    cursor: pointer;
    transition: ease-in-out 300ms;
}
.blog-item:hover{
    box-shadow:0 5px 20px 0 rgb(11 7 110 / 12%);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
.blog-item .blog-title{
    margin-bottom: 20px;
}

.blog-title img{
    width: 400px;
    height: 300px;
    border-radius: 15px;
}
.blog-item .snippet{
    width: 400px;
    height: fit-content;
    margin: 5px 30px;
}
.snippet p{
    margin-bottom: 20px;
}
.snippet a{
    text-decoration: underline;
    color: #676e8b;
}
.snippet sub{
    position: relative;
    top: 100px;
    left: 150px;
    bottom: 20px;
}
/* detail */
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail .content{
    width: 60vw;
    padding: 50px 0;
}
.detail img{
    width: 60vw;
    height: 30vw;
    border-radius: 10px;
}
.detail img:hover{
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 12%);
}
.author{
    padding:0 0 20px 0;
    display: flex;
    flex-direction: column;
}
.author img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.info{
    display: flex;
}
.info b{
    margin: 15px 10px;
}
.detail p{
    line-height: 25px;
}
/* float-whatsapp */
.float-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 25px;
    z-index: 200;
    background: var(--green);
    border-radius: 50px;
    cursor: pointer;
    color: var(--white);
    height: 10vh;
    width: 10vh;
}
.float-whatsapp i{
    font-size: 30px;
}
.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}
/* footer */
footer{
    padding: 10px 20px 30px 30px;
    background: #eee;
}
footer .footer-info{
    display: flex;
    justify-content: space-around;
}
footer .social-media-links ul{
    display: flex;
    justify-content: center;
}
footer .social-media-links ul li{
    padding: 0 15px;
    font-size: larger;
}
.footer-links{
    padding:0 0 30px 0;
}

.quick-links ul {
    padding: 15px 0;
}
.quick-links ul li{
    padding: 5px 0;
    cursor: pointer;
}
.footer-links ul li:hover{
    color: var(--orange);
}

/* login page css */
.login form{
    display: flex;
    flex-direction: column;
    margin:20px 40px;
    border-bottom: 1px solid var(--body-text);
    padding: 0 0 30px 0;
}
.login form input{
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--body-text);
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: medium;
}
.login form input::placeholder{
    color:rgb(5, 100, 155);
}
.login form button{
    color: var(--white);
    border: none;
    border-radius: 5px;
    background: rgb(0, 128, 96);
    padding: 15px;
    font-size: medium;
    cursor: pointer;
}
.login form p{
    color: var(--body-text);
    padding: 10px 0;
}
.other-provider{
    margin: 0 0 20px 0;
}
.provider-btns{
    margin: 10px 0;
}
.provider-btns button{
    margin: 0 10px;
    color: var(--white);
    background: var(--body-text);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: medium;
    cursor: pointer;
}
/* dashboard css */

.dashboard .other{
    padding: 20px 50px;
}
.dashboard .other h3{
    border-bottom: 1px solid #eee;
    color: rgb(121, 120, 120);
    margin-top: 20px;
}
.dashboard .other .btn-link{
    margin: 15px 0;
    color: #eee;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 50px;
}
.dashboard .other .btn-link:hover{
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 30%);
}
.user-details{
    padding: 100px 50px 60px 50px;
    background: rgb(245, 243, 243);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
}
.user-details:hover{
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 12%);
}
.user-info{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.user-info .items{
    display: flex;
}
.user-info .items .text{
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
}
.user-info img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.status{
    line-height: 25px;
    padding: 10px 0;
}
.post-link{
    text-decoration: underline;
    cursor: pointer;
}
.admin-see-users{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 50px;
}
.account{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 0;
}
/* //preloader */
.preload{
    background: white url('/assests/Loading_icon.gif') no-repeat center;
    background-size: 200px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200;
    display: none;
  }

  /* get-verified-as-blogger */
  .get-verified-as-blogger-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 105;
  }
  .get-verified-as-blogger-div{
    display: flex; 
    justify-content: center;
  }
  .get-verified-as-blogger{
    position: fixed;
    top: 30vh;
    background: #eee;
    padding:10px 20px;
    border-radius: 20px;
    z-index: 110;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 12%);
  }

  /* post blog */
.create form{
    display: flex;
    flex-direction: column;
    margin:20px 40px;
    border-bottom: 1px solid var(--body-text);
    padding: 0 0 30px 0;
}
.create form input{
    width: 500px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--body-text);
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: medium;
}
.create form textarea{
    width: 500px;
    height: 20vh;
    border-radius: 5px;
    border: 1px solid var(--body-text);
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: medium;
    font-family: inherit;
}
.create form input::placeholder,.create form textarea::placeholder{
    color:rgb(5, 100, 155);
}
.create form button{
    color: var(--white);
    border: none;
    border-radius: 5px;
    background: rgb(0, 128, 96);
    padding: 15px;
    font-size: medium;
    cursor: pointer;
}

.checkbox{
    border: none;
    width: 1px;
}

select{
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--body-text);
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: medium;
}
select::placeholder{
    color:rgb(5, 100, 155);
}